<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
      </head>
      <title>Sign In</title>
<body>
   
    <h2>This is a SignIn form</h2>
    <div style="width:500px; height:500px;background-color: aliceblue;padding:10px;">
    <form method="POST" action="/user/signin">
        <div class="mb-3 mt-3">
            <label for="email" class="form-label">Email:</label>
            <input type="email" class="form-control"  placeholder="Enter email" name="email">
          </div>
          <div class="mb-3">
            <label for="pwd" class="form-label">Password:</label>
            <input type="password" class="form-control"  placeholder="Enter password" name="password">
          </div>
          <div class="form-check mb-3">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" name="remember"> Remember me
            </label>
          </div>
          <button type="submit" class="btn btn-primary">Sign In</button>
    
    
  </form>
   
</div>
  
</body>
</html>
